html {
    scroll-behavior: smooth;
    background-color: #0E2F42;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}
a.btn {
  text-decoration: none;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #0E2F42;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

.brand {
    font-size: 24px;
    font-weight: bold;
    color: white
}

.nav-buttons .btn {
    text-decoration: none;
    font-size: 15px;
    margin-left: 10px;
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    background: #eef0eb;
    color: black;
    border-radius: 5px;
}
.nav-buttons .btn:hover {
    background: #aaa;
}
.btn.primary {

    background: #34a0a4;
    color: white;
}

.btn.primary:hover {
    background: #287D80;
}

.btn:hover {

}

@media (max-width: 500px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: #0E2F42;
    color: white;
    font-size: 16px;
}

.footer .logo-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 40px;
  
}

.footer .logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 8px;
}

.footer .brand {
    font-size: 25px;
    font-weight: bold;
}

.footer .copyright {
    font-size: 18px;
    font-weight: light;
}


/* Top Section */
.top-section {
    text-align: center;
    padding: 100px 20px;
    background: #0E2F42;
}

.top-section h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: white
}

.subheadline {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
}
.note {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7); /* softer white */
    margin-top: 16px;
}

.top-section .btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    background: #34a0a4;
    color: white;
    border: none;
    cursor: pointer;
}

/* Bottom Section */
.bottom-section {
    text-align: center;
    padding: 30px 20px;
    background: #0F3A4D;
}

.bottom-section h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: white
}

.subheadline4 {
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
}
.note {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7); /* softer white */
    margin-top: 16px;
}
.bottom-section h2 {
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 10px;
    color: #8ba3b2
}

.bottom-section .btn {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    background: #34a0a4;
    color: white;
    border: none;
    cursor: pointer;
}

/* Split Section Left */

.split-section-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    background: #0F3A4D;
}


.text-content-left {
    width: 450px;
    text-align: left;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}


.text-content-left h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: white;
}


.subheadline2 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}


.image-content {
    width: 300px;
    display: flex;
    justify-content: center;
}


.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .split-section-left {
        flex-direction: column; 
        align-items: center; 
        text-align: center;
        padding: 50px 0px;
    }

    .text-content-left {
        width: 90%;
        text-align: center;
        margin-left: 0;
        padding-right: 0;
    }

    .text-content-left h1,
    .subheadline2 {
        text-align: center;
    }

    .image-content {
        width: 65%;
        justify-content: center;
        margin-top: 20px;
    }
}

/* Split Section Right */
.split-section-right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    background: #0E2F42;
}


.text-content-right {
    width: 450px;
    text-align: left; 
    padding-left: 40px; 
    display: flex;
    flex-direction: column;
}


.text-content-right h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: white;
}


.subheadline3 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}


.image-content-right {
    width: 300px;
    display: flex;
    justify-content: center;
}


.image-content-right img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .split-section-right {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 0px;
    }

    .text-content-right {
        width: 90%; 
        padding-left: 0;
        text-align: center;
        order: 1;
    }

    .text-content-right h1,
    .subheadline3 {
        text-align: center;
    }

    .image-content-right {
        width: 65%;
        justify-content: center;
        margin-bottom: 20px;
        order: 2;
    }
}
